<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product | Flex by Dramin</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Add New Product</h1>

    <form>
        <label>Product Name</label><br>
        <input type="text" placeholder="e.g Jersey - Real Madrid"><br><br>

        <label>Price</label><br>
        <input type="number" placeholder="e.g 25000"><br><br>

        <label>Stock Quantity</label><br>
        <input type="number" placeholder="e.g 10"><br><br>

        <label>Description</label><br>
        <textarea placeholder="Product details"></textarea><br><br>

        <button type="submit">Add Product</button>
    </form>

    <br>
    <a href="/admin">Back to Dashboard</a>

</body>
</html>
