<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard | Flex by Dramin</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Admin Dashboard</h1>
    <p>Welcome, Flex by Dramin Admin</p>

    <div class="admin-menu">
        <a href="/admin/add-product">Add Product</a> |
        <a href="/admin/products">View Products</a> |
        <a href="/admin/orders">View Orders</a> |
        <a href="#">Orders</a> |
        <a href="#">Installments</a> |
        <a href="#">Deliveries</a>

    </div>

</body>
</html>
