<!DOCTYPE html>
<html>
<head>
    <title>Admin - Orders</title>
</head>
<body>

    <h1>All Orders</h1>

    {% if orders %}
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Price</th>
                <th>Date</th>
            </tr>

            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.product_name }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.order_date }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No orders yet.</p>
    {% endif %}

    <br>
   <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>

</body>
</html>
